:root {
  --color-main-bg: linear-gradient(0deg, rgba(10, 10, 10, 0.20) 0%, rgba(10, 10, 10, 0.20) 100%),
    linear-gradient(132deg, #1B1B1B 0%, #14151F 88.91%);
  --color-text-high-1: white;
  --color-text-low-1: rgba(255, 255, 255, 0.30);
  --color-text-low-2: rgba(255, 255, 255, 0.40);
  --color-bg-high-1: rgba(255, 255, 255, 0.03);
  --color-bg-high-2: #1a1a1a;
  --color-accent-high-1: #5C67DE;

  --bp-container: calc(1512 / 16 * 1rem);
  --bp-content: calc(832 / 16 * 1rem);
}
